
# tags
/GRTAGS
/GPATH
/GSYMS
/GTAGS
/TAGS
/cscope.*

# database
**/*.db

# core dump {kernel, valgrind}
**/core*
**/vgcore*

# bison
/*.tab.*

# lex
/*.yy.*

# compiler
**/*.out

# build
/config.h
/Makefile
/autom4te.cache/
/autoscan.*
/configure.scan
/configure
/twork
